<app-header></app-header>
<div class="container">
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    <h5>Processos</h5>
                </div>
                <div class="card-body" style="padding-top: 0px;">
                    <h1 class="no-margins">{{numProcessos}}</h1>
                    <div class="font-bold text-info" style="text-align: right;"><b>Desde 2014</b></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    <h5>Municípios</h5>
                </div>
                <div class="card-body" style="padding-top: 0px;">
                    <h1 class="no-margins" >{{numMunicipios}}</h1>
                    <div class="font-bold text-info" style="text-align: right;"><b>Municípios abrangidos</b></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    <h5>Responsáveis</h5>
                </div>
                <div class="card-body" style="padding-top: 0px;">
                    <h1 class="no-margins" >{{numResponsaveis}}</h1>
                    <div class="font-bold text-info" style="text-align: right;"><b>Diferentes responsáveis</b></div>
                </div>
            </div>
        </div>
    </div>
</div>

