

<div class="container">
    
    <div class="col-md-12">
        <div class="card bg-light mb-3" style="margin-top: 3rem;">
            <div class="card-header">
                <h3> Texto Completo </h3>
            </div>
            <div class="card-body" style="padding-top: 0px;">
                <div *ngIf="textoCompleto.considerandos.length != 1">
                    <h4> Considerações </h4>
                    <ul>
                        <li *ngFor="let consi of textoCompleto.considerandos">{{consi}}</li>
                    </ul>
                    <hr>
                </div>
                <div *ngIf="textoCompleto.determinacoes.length != 1">
                    <h4> Determinações </h4>
                    <ul>
                        <li *ngFor="let det of textoCompleto.determinacoes">{{det}}</li>
                    </ul>
                    <hr>
                </div>
                <div *ngIf="textoCompleto.recomendacoes.length != 1">
                    <h4> Recomendações </h4>
                    <ul>
                        <li *ngFor="let rec of textoCompleto.recomendacoes">{{rec}}</li>
                    </ul>
                    <hr>
                </div>
                
            </div>
        </div>
    </div>
</div>


