
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card text-white bg-dark mb-3" style="margin: 20px 0px;">
                <div class="card-body">
                    <h1 class="no-margins">{{nome}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" *ngFor="let processo of apresentacoes">
            <div class="card" style="margin: 10px 0px;">
                <div class="card-header">
                    <div class="row">
                        <div class="col-8" style="font-size: 20px;">
                            <b>{{processo.orgaoReferenteDecisao}}</b>
                            <br>
                            <b>{{processo.nomePessoa}}</b>
                        </div>
                        <div class="col-4">
                            <label class="pull-right text-success">Ano: {{processo.anoEmJulgamento}}</label>
                        </div>
                        
                    </div>                    
                  
                  
                </div>
                <div class="card-body" style="padding-top: 0.6875rem;">
                    <div class="ibox-content">
                        <h5>Município: {{processo.cidade}}</h5>
                        <h2 class="no-margins">{{processo.resultadoDecisao}}</h2>
                        <a [href]="'/processo/'+processo.idDecisao" class="btn btn-block btn-outline btn-primary" style="margin-top: 10px;"><b>Ver processo</b></a>
                    </div>
                    
                </div>
                <div class="ibox-footer">
                    Data da decisão:
                    <strong>
                        <span class="text-success" th:text="${#temporals.format(processo.getDataJulgamento(),'dd/MM/yyyy')}">{{processo.dataDecisao}}</span>
                    </strong>
                </div>
            </div>
        </div>
    </div>

</div>
